﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        rel="stylesheet" 
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
        crossorigin="anonymous">
  <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-3">
        @Html.ActionLink("PhonesList", "Index", "Home", null, new { @class = "logo" })
      </div>
      <div class="hidden-sm col-xs-2 hidden-md hidden-lg">
        <a class="logo" href="/"><i class='fa fa-mobile' aria-hidden='true'></i></a>
      </div>
      <div class="col-xs-10 col-sm-9">
        <nav>
          @Html.ActionLink("Новинки", "New", "Home")
          @Html.ActionLink("Популярные", "Popular", "Home")
        </nav>
      </div>
    </div>
  </div>
</header>

<main>
  @RenderBody()
</main>

<footer>
  <div class="copyright">
    <i aria-hidden="true" class="fa copyright"></i> 2017 - PhonesList, Граб Н. Ю., Чудаев М. С.
  </div>
</footer>

<environment names="Development">
  <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="~/Scripts/site.js" ></script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
