@import "variables";

header {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $blue_color;
	color: $white_color;
	line-height: 50px;
	height: 50px;
	z-index: 100;

	.logo {

		display: block;
		font-size: 30px;
		color: $white_color;
		font-weight: bold;
		color: $yellow_color;
		text-decoration: none;
		transition: color 0.3s ease 0s;

		&:hover {

			text-decoration: none;
			color: $white_color;
		}
	}

	nav {

		a {

			text-transform: uppercase;
			color: $white_color;
			text-decoration: none;
			display: inline-block;
			transition: color 0.3s ease 0s;

			&:not(:last-child) {

				margin-right: 15px;
			}

			&:hover {

				text-decoration: none;
				color: $yellow_color;
			}
		}
	}
}

body {

	padding: 50px 0;
}

footer {

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $blue_color;
	color: $white_color;
	height: 50px;
	line-height: 50px;
	text-align: center;
	z-index: 100;

	.fa {

		color: $yellow_color;
	}
}

.header-block {

	padding: 50px 0;
	background-color: $light_grey_color;
	
	h1 {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

.phones-list {

	margin: 50px 0;
	
	.phone-wrapper {
		
		padding: 15px 0;
		
		@media(max-width: 767px) {
			
			text-align: center;
		}

		&:nth-child(even) {
			
			background-color: $light_grey_color;
		}
		
		&:not(:last-child) {

			margin-bottom: 50px;
		}
		
		.image-wrapper {
			
			height: 250px;
			text-align: center;
			line-height: 250px;
			
			img {

				display: inline-block;
				max-width: 100%;
				max-height: 100%;
			}
		}

		.name {

			font-size: 20px;
			font-weight: bold;
		}
		
		.realese-date {
			
			color: lighten($text_color,50%);
			margin: 5px 0;
		}
		
		.rating {

			.fa {
				color: $yellow_color;
			}
			margin-bottom: 15px;
		}

		.description {

			margin: 15px 0;
		}

		.price {

			color: $blue_color;
			font-size: 20px;
			margin: 30px 0;
			transition: color 0.3s ease 0s;

			&:hover {

				color: $red_color;
			}
		}

		.show-characteristics {

			display: inline-block;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: $blue_color;
			color: $white_color;
			transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
			text-transform: uppercase;
			cursor: pointer;
			border: 1px solid $blue_color;

			&:hover {
				color: $blue_color;
				background-color: $white_color;
			}
		}
		
		.characteristics-wrapper {
						
			.characteristic-wrapper {
				
				margin-top: 15px;
				margin-bottom: 15px;	
				padding: 10px 15px;
				background-color: $white_color;
				
				.char-name {
					
					border-right: 1px solid lighten($text_color, 50%);
					text-align: right;
				}
				
				.char-value {
					
					text-align: left;
					font-weight: bold;
				}
				
				&:nth-child(odd) {
					background-color:$light_grey_color;
				}
			}
		}
	}
}