header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00ccff;
  color: #fff;
  line-height: 50px;
  height: 50px;
  z-index: 100; }
  header .logo {
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    color: #ffcc00;
    text-decoration: none;
    transition: color 0.3s ease 0s; }
    header .logo:hover {
      text-decoration: none;
      color: #fff; }
  header nav a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease 0s; }
    header nav a:not(:last-child) {
      margin-right: 15px; }
    header nav a:hover {
      text-decoration: none;
      color: #ffcc00; }

body {
  padding: 50px 0; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00ccff;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 100; }
  footer .fa {
    color: #ffcc00; }

.header-block {
  padding: 50px 0;
  background-color: #fafafa; }
  .header-block h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase; }

.phones-list {
  margin: 50px 0; }
  .phones-list .phone-wrapper {
    padding: 15px 0; }
    @media (max-width: 767px) {
      .phones-list .phone-wrapper {
        text-align: center; } }
    .phones-list .phone-wrapper:nth-child(even) {
      background-color: #fafafa; }
    .phones-list .phone-wrapper:not(:last-child) {
      margin-bottom: 50px; }
    .phones-list .phone-wrapper .image-wrapper {
      height: 250px;
      text-align: center;
      line-height: 250px; }
      .phones-list .phone-wrapper .image-wrapper img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%; }
    .phones-list .phone-wrapper .name {
      font-size: 20px;
      font-weight: bold; }
    .phones-list .phone-wrapper .realese-date {
      color: #b3b3b3;
      margin: 5px 0; }
    .phones-list .phone-wrapper .rating {
      margin-bottom: 15px; }
      .phones-list .phone-wrapper .rating .fa {
        color: #ffcc00; }
    .phones-list .phone-wrapper .description {
      margin: 15px 0; }
    .phones-list .phone-wrapper .price {
      color: #00ccff;
      font-size: 20px;
      margin: 30px 0;
      transition: color 0.3s ease 0s; }
      .phones-list .phone-wrapper .price:hover {
        color: #ff3300; }
    .phones-list .phone-wrapper .show-characteristics {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #00ccff;
      color: #fff;
      transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
      text-transform: uppercase;
      cursor: pointer;
      border: 1px solid #00ccff; }
      .phones-list .phone-wrapper .show-characteristics:hover {
        color: #00ccff;
        background-color: #fff; }
    .phones-list .phone-wrapper .characteristics-wrapper .characteristic-wrapper {
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px 15px;
      background-color: #fff; }
      .phones-list .phone-wrapper .characteristics-wrapper .characteristic-wrapper .char-name {
        border-right: 1px solid #b3b3b3;
        text-align: right; }
      .phones-list .phone-wrapper .characteristics-wrapper .characteristic-wrapper .char-value {
        text-align: left;
        font-weight: bold; }
      .phones-list .phone-wrapper .characteristics-wrapper .characteristic-wrapper:nth-child(odd) {
        background-color: #fafafa; }

/*# sourceMappingURL=style.css.map */
