﻿@using PhonesList.Models.Products;
@{
    ViewBag.Title = "Новинки телефонов";
}

<div class="header-block">
    <div class="container">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="phones-list">
    <div class="container">
        @foreach(IProduct phone in ViewBag.phoneList)
        {
            <div class="phone-wrapper" data-id="@phone.getId()">
                <div class="container-fluid">
                    <div class="row">
  
                        <div class="col-xs-12 col-sm-3">
  
                            <div class="image-wrapper">
                                <img src="@phone.getImageSrc()" alt="@phone.getName()">
                            </div>
  
                        </div>
                        <div class="col-xs-12 col-sm-9">
  
                            <div class="name">@phone.getName()</div>
              
                            <div class="realese-date">@phone.getRealeseDateString()</div>
              
                            <div class="rating">
                                @{
                                    var k = 5 - phone.getRating();
                                }
                                @for (var i = 0; i < phone.getRating(); i++)
                                {
                                    <i aria-hidden="true" class="fa fa-star"></i>
                                }
                                @for (var i = 0; i < k; i++)
                                {
                                    <i aria-hidden="true" class="fa fa-star-o"></i>
                                }
                            </div>
                            <div class="description">
                                @phone.getDescription()
                            </div>
                            <div class="price">@phone.getPrice() <i aria-hidden="true" class="fa fa-rouble"></i>
                            </div>
                            <div class="show-characteristics" onclick="">показать характеристики</div>
              
                        </div>
                    </div>
                    <div class="characteristics-wrapper container-fluid"></div>
                </div>
            </div>
        }
   
    
    </div>
</div>